[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
charset-normalizer = "*"
commonmark = "*"
defusedxml = "*"
django = "*"
djangorestframework = "*"
httpie = "*"
idna = "*"
multidict = "*"
psycopg2 = "*"
pygments = "*"
pysocks = "*"
python-decouple = "*"
pytz = "*"
requests = "*"
requests-toolbelt = "*"
rich = "*"
sqlparse = "*"
typing-extensions = "*"
urllib3 = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.9"
