<div class="main-navigation">
  <div class="logo">
    <h1># D-<span>Bug</span></h1>
  </div>
  <div class="links">
    <ul>
      <li>Questions</li>
      <li>Jobs</li>
      <li>Resources</li>
    </ul>
  </div>
  <div class="authentication">
    <div class="auth-button">
      <!-- <button>Post a Question</button> -->
      <app-login *ngIf="(auth.isAuthenticated$ | async) === false"></app-login>
      <app-logout *ngIf="(auth.isAuthenticated$ | async) === true"></app-logout>
    </div>
    <!-- <div class="toggle" *ngIf="user">
      <div class="image">
        <img src="{{ user.picture }}" alt="user-image" />
      </div>
    </div> --> 
  </div>
</div>
