@import "../../../global";
.main-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 5vw;
  box-shadow: 0.1vw 0.1vw 0.5vw rgb(233, 233, 233);
  .logo {
    h1 {
      font-size: 2vw;
      font-weight: 800;
      color: $primary;
      span {
        font-size: 2vw;
        color: black;
      }
    }
  }
  .links {
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 2vw;
        cursor: pointer;
      }
    }
  }
  .authentication {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .auth-button {
      margin-right: 2vw;
      button {
        padding: 0.5vw 2vw;
        outline: none;
        border: none;
        background-color: $primary;
        border-radius: 0.3vw;
        font-size: 1vw;
        cursor: pointer;
        margin-right: 1vw;
      }
    }
    .toggle {
      cursor: pointer;
      svg {
        cursor: pointer;
        width: 2.5vw;
      }
    }
  }
}
