<div class="main">
  <button>Ask a Question</button>
  <div class="topics">
    <h2>Trending Topics</h2>
    <ul>
      <li><span>Django DRF</span></li>
      <li><span>authentication</span></li>
      <li><span>Payment Integration</span></li>
      <li><span>Database Caching</span></li>
      <li><span>Kayden's Algorithm</span></li>
    </ul>
  </div>
  <div class="users">
    <h2>Power Users</h2>
    <app-ranked-user></app-ranked-user>
    <app-ranked-user></app-ranked-user>
    <app-ranked-user></app-ranked-user>
    <app-ranked-user></app-ranked-user>
    <app-ranked-user></app-ranked-user>
  </div>
</div>
